.container_container {
  background-color: white;
}

.container_container::after {
  content: "";
  vertical-align: top;
  height: 100%;
}

.canvas_container {
  display: inline-block;
  background-color: red;

}

.input_container {
  background-color: yellow;
  display: inline-block;
}

#foto_can, .button_list {
  display: inline-block;
}

h3 {
  text-align: center;
  margin: 10px;
  color: rebeccapurple;
}

.button_list button, .button_list a, .button_list input {
  display: block;
  margin: 5px;
}
