html,body {
  height: 100%;
  width: 100%;
}

body {
  background-image:
    repeating-linear-gradient(
      -45deg,
      red 0px,
      yellow 10px,
      rgba(24, 105, 130, 0.2) 10px,
      rgba(24, 105, 130, 0.9) 20px
    );
    padding: 0 50px;
    display: flex;
    flex-direction: column;
}

header {
  background-color: rgba(244, 169, 65, 0.9);
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

h1 {
  text-align: center;
  font-family: "Comic Sans MS", Arial, sans-serif;
  font-size: 30px;
}

h2 {
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
}

menu {
  display: flex; /*Menu-Div is Flex-Box*/
  flex-direction: row; /*Default*/
  justify-content: space-around;
}

button:hover {
  cursor: crosshair;
}

.menubutton {
  background-color: lightblue;
  border: none;
  color: blue;
  min-width: 100px;
  max-width: 200px;
  height: 20px;
}

.menubutton:hover {
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 255, .2);
}

main {
  background-color: rgba(155, 242, 67, 0.9);
  padding: 10px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.frame_stuff {
  background-color: purple;

  border: none;
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
}

.hidden {
  display: none;
}
