body {
  background-image: url("bilder/hintergrund/pink-blau.png");
  background-size: cover;
  padding: 100px;
  font-size: 20px;
  font-family: 'Athiti', sans-serif;
  text-align: center;
}

.inhalt {
  padding: 50px 70px;
  background-image: url("bilder/hintergrund/papier2.png");
  background-color: #dddddd;
  margin: auto;
  width: 600px;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 3.5em;
}
